language: python
os: linux
addons:
  apt:
    packages:
      - python-numpy
      - python-scipy
      - python-pyside
      - python-configobj
      - python-setuptools
      - avr-libc
      - gcc-avr
matrix:
  include:
    - os: osx
      language: generic
      before_install:
        - brew update
        - mkdir -p $(brew --repo)/Library/Taps/travis
        - ln -s $TRAVIS_BUILD_DIR/HomebrewFormula $(brew --repo)/Library/Taps/travis/homebrew-chipwhisperer
        - brew tap --repair
        - brew install travis/homebrew-chipwhisperer/pyside scipy
install: pip install pyusb pyqtgraph
script: pushd software && pip install .
