language: python
os: linux
addons:
  apt:
    packages:
      - python-numpy
      - python-scipy
      - python-pyside
      - python-configobj
      - python-setuptools
      - avr-libc
      - gcc-avr
matrix:
  include:
    - os: osx
      language: generic
      env: PATH=/usr/local/opt/qt/bin:$PATH
      before_install:
        - brew install qt
        - pip install pyside
install: pip install pyusb pyqtgraph
script: pushd software && pip install .
